@import "styleVariables";

.header-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
  }

  .header-card-body {
    background-color: $cardGray;
    display: inline-block;
    border-radius: 10px;

    min-height: 40px;

    .card-text {
      color: white;
      padding-right: 5px;
    }

    .card-div {
      border-left: 3px solid white;
      height: 20px;
    }
  }
}

.stylist-body-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  max-height: 85%;

  .stylist-body-card-body {
    border-radius: 10px;
    background-color: $cardGray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .card-header {
      color: white;
      padding: 5px;
      font-size: large;
    }
    .card-text {
      color: white;
      padding: 5px;
    }
    form {
      color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: right;
      input {
        margin: 5px;
        border-radius: 10px;
        max-width: 100%;
      }
    }
  }
}
