/*** Customer Reservations ***/

.reservations-header {
  padding-top: 80px;
  padding-bottom: 8px;
  padding-left: 5px;
  width: 100%;
  border-bottom: 2px solid rgba($color: #b0b0b0, $alpha: 0.4);
  h3 {
    font-size: 2.8rem;
  }
}

.reservations-subheader {
  margin-top: 28px;
  padding-left: 5px;

  span {
    font-weight: 400;
    font-size: 28px;
    color: #b9b9b9;
  }
}

.alert-slide {
  overflow-x: hidden;
}

.select-alert {
  font-size: 1.4rem;
  color: white;
  background-color: rgba($color: #6d45a4, $alpha: 0.5);
  border: none;
  border-radius: 10px;
}

.loading {
  margin-top: 13rem;
}

.reservations-services {
  margin: 3rem 3rem 0 3rem;
}

.reservations-next {
  display: flex;
  margin-top: 18px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  .next-arrow {
    color: #b3b3b3;
    opacity: 43%;
    font-size: 28px;
  }
  .next-arrow:hover {
    color: white;
  }
  .prev-arrow {
    color: #b3b3b3;
    opacity: 43%;
    font-size: 28px;
    margin-right: 15px;
  }
  .prev-arrow:hover {
    color: white;
  }
}

.reservation-service-card {
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  background-color: #565d76;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);

  .service-header {
    border-bottom: 1px solid rgba($color: #b0b0b0, $alpha: 0.38);
    padding-bottom: 15px;
  }

  .circle-background {
    display: flex;
    height: 100px;
    width: 100px;
    font-size: 4rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: #bbb;

    .service-icon {
      font-size: 4rem;
      color: #33346a;
    }
  }

  .service-content {
    padding-top: 1.2rem;

    .service-title {
      font-weight: 300;
      font-size: 2rem;
      color: #8e8e8e;
      text-align: center;
      padding: 0.4rem 0;
    }
  }

  .service-content:hover {
    text-decoration: none;
    .service-title {
      color: white;
      transition: 0.25s ease-in-out;
    }
  }
}

.reservation-service-card.active {
  background-color: #454a5e;
  transition: 200ms;

  .service-content .service-title {
    color: white;
  }
}

.reservations-stylists {
  margin: 3rem;
}

.reservations-stylist-portrait {
  display: inline-block;
  justify-content: center;

  .reservations-stylist-portrait-header {
    margin-bottom: 10px;
  }

  .stylist-portrait {
    display: inline-block;
    margin: 0 auto;
    height: 275px;
    width: 275px;
    border: solid grey 3px;
    border-radius: 50%;
    object-fit: cover;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  .stylist-name {
    display: block;
    font-weight: 300;
    font-size: 2rem;
    color: #8e8e8e;
    text-align: center;
    padding: 0.4rem 0;
    margin-bottom: 30px;
  }

  .stylist-content:hover {
    text-decoration: none;

    .stylist-name {
      color: white;
      transition: 0.25s ease-in-out;
    }
  }
}

.reservations-stylist-portrait.active {
  .stylist-portrait {
    border-color: #6d45a4;
    transition: 0.1s ease-in;
  }
  .stylist-name {
    color: white;
  }
}

.reservations-time-slots {
  margin-top: 2rem;

  .reservations-time-slots-alt {
    margin-top: 7rem;

    h3 {
      font-size: 2.1rem;
      font-weight: 400;
    }

    .alt-message {
      padding-top: 0.6rem;
      color: #aeaeae;
      font-size: 1.5rem;
    }

    .back-button {
      position: relative;
      width: fit-content;
      margin: auto;
      padding-top: 0.9rem;
      color: #aeaeae;
      font-size: 1.7rem;
      transition: 0.25s ease-in-out;
    }

    .back-button:hover {
      color: white;
      transition: 0.25s ease-in-out;
    }

    .prev-arrow {
      color: #aeaeae;
      margin-right: 0.8rem;
      font-size: 1.6rem;
      transition: 0.25s ease-in-out;
    }

    .prev-arrow:hover {
      color: #6d45a4;
      transition: 0.25s ease-in-out;
    }
  }
}

.time-slot {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #565d76;
  border-radius: 15px;
  padding: 1.7em 1em 1.7em 1em;
  margin: 1em 3em 1em 3em;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

  .time-slot-header {
    display: flex;
    align-items: center;
    color: white;

    .time-slot-icon {
      color: #838383;
      font-size: 2rem;
      padding-left: 15px;
      float: left;
      transition: 0.25s ease-in-out;
    }

    span {
      float: left;
      font-size: 1.8rem;
      margin-left: 20px;
    }
  }

  .time-slot-time {
    display: flex;
    color: white;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 300;
      padding-right: 10px;
    }
  }
}

.time-slot-link:hover {
  text-decoration: none;

  .time-slot-icon {
    color: #9b62ea;
    transition: 0.25s ease-in-out;
  }
}

.time-slot.active {
  background-color: #454a5e;
  transition: 200ms;

  .time-slot-icon {
    color: #9b62ea;
  }
}

.reservations-summary {
  margin: 3rem;
}

.summary-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #434761;
  border-radius: 20px;
  padding: 1.7em 1em 1.7em 1em;
  margin: 1em 3em 1em 3em;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

  h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 8px;
  }

  .entry-name {
    font-size: 1.5rem;
    color: white;
  }

  span {
    color: #8e8e8e;
    font-size: 1.6rem;
  }

  .summary-services {
    .summary-service-list {
      .service-entry {
        display: flex;
        align-items: center;
        padding-left: 10px;

        .service-entry-icon {
          color: #b058b0;
          font-size: 1.3rem;
          margin-right: 1rem;
        }
      }
      span {
        padding-left: 10px;
      }
    }
  }

  .stylist-entry {
    display: flex;
    align-items: center;
    padding-left: 10px;

    .stylist-entry-icon {
      color: #b058b0;
      font-size: 1.2rem;
      margin-right: 1rem;
    }
  }

  .time-entry {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 30px;

    .time-entry-icon {
      color: #b058b0;
      font-size: 1.3rem;
      margin-right: 1rem;
    }
  }

  .h-divider {
    width: 96%;
    border-top: 1px solid rgba($color: #333333, $alpha: 0.4);
  }
}

.submit-button {
  background-color: #7f26ba;
  border: none;
  transition: 0.35s ease-in-out;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

  .button-text {
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    color: #8e8e8e;
    transition: 0.35s ease-in-out;
  }

  .button-icon {
    font-size: 1.7rem;
    margin-right: 10px;
    color: #8e8e8e;
    transition: 0.35s ease-in-out;
  }

  .button-content {
    display: flex;
    align-items: center;
  }
}

.submit-button:hover {
  background-color: #912ed4;
  transition: 0.35s ease-in-out;

  .button-text {
    color: white;
    transition: 0.35s ease-in-out;
  }

  .button-icon {
    color: white;
    transition: 0.35s ease-in-out;
  }
}

.submit-button.btn.btn-primary.btn-lg:focus {
  background-color: #7f26ba;
  outline: none;
  border: none;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(127, 38, 186, 0.67);
  -moz-box-shadow: 1px 1px 15px 1px rgba(127, 38, 186, 0.67);
  box-shadow: 1px 1px 15px 1px rgba(127, 38, 186, 0.67);
  .button-text {
    color: white;
    transition: 0.35s ease-in-out;
  }

  .button-icon {
    color: white;
    transition: 0.35s ease-in-out;
  }
}

.submit-button.btn.btn-primary.btn-lg:active {
  background-color: #7f26ba;
  box-shadow: none;
  border: none;
  outline: none;
}

.submit-area {
  margin-top: 3rem;
}

.reservation-end {
  margin-top: 9rem;

  h3 {
    font-size: 2.7rem;
  }

  span {
    font-size: 1.8rem;
    font-weight: 200;
    color: #aaaa;
  }

  .home-link {
    span {
      transition: 0.25s ease-in-out;
    }

    .home-link-icon {
      color: #aaaa;
      transition: 0.25s ease-in-out;
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
  }

  .home-link:hover {
    text-decoration: none;

    span {
      color: white;
      transition: 0.25s ease-in-out;
    }

    .home-link-icon {
      color: #6d45a4;
      transition: 0.25s ease-in-out;
    }
  }
}
