@import "styleVariables";

.stylist-view-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.active-appointment-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  h3 {
    color: white;
  }

  .service-container {
    width: 75%;

    .service-card-container {
      display: flex;
      flex-direction: row;
      height: 71vh;
      align-content: space-between;
      justify-content: center;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .comment-completion-container {
    @extend %flexcolnowrap;

    .comment-section {
      height: 70%;

      h4 {
        color: white;
      }
      .comments-card {
        height: 40vh;
        width: 20vw;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: auto;

        a {
          padding: 0.5rem;
        }
      }
    }

    .btn-div {
      @extend %flexcolnowrap;
      align-items: center;
      button {
        width: 13rem;
        height: 4rem;
        margin: 5px;
        border-radius: 6px;
        font-size: x-large;

        &.hidden {
          display: none;
        }
        &.finish {
          background-color: green;
        }
        &.cancel {
          background-color: red;
        }
      }
    }
  }
}
