@import "styleVariables";

.stylist-headerbar {
  background-color: $sidebarGray;
  width: 100%;
  max-height: 35%;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  .navbar-brand {
    padding-left: 90px;
  }

  .headerbar-card-div {
    align-self: center;
  }

  .headerbar-clock-div {
    border-left: 3px solid white;
    height: 40;

    .clock-time {
      color: white;
      font-size: x-large;
      margin-right: 10px;
    }
  }
  div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
