@import "styleVariables";

.stylist-headerbar {
  background-color: $sidebarGray;
  width: 100%;
  max-height: 35%;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  // TODO:  Figure out how to keep card from overlapping with clock when resizing
  .headerbar-card-div {
    display: flex;
    align-self: center;
  }

  .headerbar-clock-div {
    border-left: 3px solid white;
    height: 40;
  }
  div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
